target/
mvnw
mvnw.cmd
.mvn/
.git/
.gitignore
.idea/
.DS_Store
.env
startup.log
package-lock.json
package.json
postcss.config.js
tailwind.config.js
node_modules/
Dockerfile
.dockerignore
HELP.md
README.md
