<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
    <head>
        <title>SCM | Contact us</title>
    </head>

    <body>
        <div id="content">
            <h1>Welcome to Contact us page</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo fuga molestiae illo magni eligendi nobis aliquid et nulla at unde quasi possimus omnis enim, perspiciatis incidunt mollitia recusandae molestias quisquam.</p>
        </div>
        <script>
            console.log("Contact us page");
        </script>
    </body>
</html>